.submit-button {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Text color */
    border: none;
    padding: 5px 10px; /* Adjust padding to control button size */
    border-radius: 4px;
    font-size: 12px; /* Adjust font size */
    cursor: pointer;
    margin-right: 10px; /* Add some margin between the buttons */
  }
  
  .cancel-button {
    background-color: #ccc; /* Button background color */
    color: #333; /* Text color */
    border: none;
    padding: 5px 10px; /* Adjust padding to control button size */
    border-radius: 4px;
    font-size: 12px; /* Adjust font size */
    cursor: pointer;
  }
  